@media only screen and (max-width: 1000px) {
    .container {
      height: 40vh;
      display: flex;
      justify-content: center;
    }
    .left-col {
      width: 80%;
      h1 {
        bottom: 20px;
        left: 70px;
        font-size: 1rem !important;
        font-weight: 300;
      }
    }
    .right-col {
      display: none;
    }
    .slide-up {
      top: 32% !important;
    }
  
    .slide-down {
      top: 32%  !important;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .container {
      height: 20vh;
      display: flex;
      justify-content: center;
      padding: 0;
    }
    .left-col {
      width: 90% !important;
      h1 {
        bottom: 0px;
        left: 50px;
        font-size: 0.7rem;
      }
    }
    .right-col {
      display: none;
    }
    a {
      font-size: 1.5rem !important;
      
    }
  }