@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 80px;
    padding: 15px;
    background-color: rgb(34, 33, 51);
    h1 {
        font-family: 'Barlow', sans-serif;
        color: white;
    }
    ul {
        display: flex;
        color: rgb(105, 115, 152);
        margin-left: 5%;
        list-style: none;
        width: 20%;
        li {
            margin-right: 30%;
            font-size: 120%;
            margin-top: 5%;
            cursor: pointer;
            a {
                color: rgb(207, 217, 250);
            }
        }
    }
}

.logo {
    width: 50px;
    height: 50px;
    color: white;
    margin-right: 20px;
}


@media only screen and (max-width: 1000px) {
    header {
        // height: 60px !important;
        .logo {
            width: 30px;
            height: 30px;
        }
        h1 {
            font-family: 'Barlow', sans-serif;
            color: white;
            font-size: 20px;
        }
        ul {
            display: flex;
            color: rgb(105, 115, 152);
            margin-left: 5%;
            list-style: none;
            width: 10%;
            li {
                margin-right: 30%;
                font-size: 85%;
                margin-top: 5%;
                cursor: pointer;
                a {
                font-size: 100% !important;
                color: rgb(207, 217, 250);
                }
            }
        }
    }
  }

@media only screen and (max-width: 600px) {
    input {
        width: 40% !important;
    }
    ul {
        display: flex;
        flex-direction: column;
        li {
            font-size: 65% !important;
            margin-top: 5%;
            cursor: pointer;
            a {
                color: rgb(207, 217, 250);
            }
        }
    }
}
